@mixin flex($justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

nav{
  background-color: #FFE353;
  margin-bottom: 20px
}

.container{
  @include flex(space-between);
  padding: 15px 0;
}

a{
  text-decoration: none;
  color: black;
}

.title{
  font-size: 16px;
  font-weight: bold;
}

.tv{
  margin-right: 40px;
  font-weight: bold;
}

.wishlist{
  position: relative;
}

.wishlist-icon{
  margin-right: 10px;
  scale: 1.5;
}

.counter{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(150%, -50%);
  background-color: #ffff;
  padding: 1.5px 8px;
  border-radius: 5px;
  font-weight: bold;
}

